* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::after {
  box-sizing: border-box;
}

*::before {
  box-sizing: border-box;
}

#taichi {
  position: fixed;
  left: 50%;
  top: 40px;
  margin-left: -100px;
}

#html {
  word-break: break-all;
}

@media (max-width: 500px) {
    #html {
      height: 60vh;
      overflow: auto;
    }
  
    #taichi {
      position: fixed;
      left: 50%;
      top: 70%;
      margin-left: -100px;
    }
  }